{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block pageclass %}auth-page{% endblock %}

{% block title %}Authentication page{% endblock %}

{% block body %}

<div class="container landing-page">
    <div class="main">
        <div class="centered centered-auth has-text-centered panel">

            <div class="panel-heading is-uppercase has-text-weight-bold is-size-6 letter-spacing-2 has-text-grey">
                Sign in to your online account
            </div>

            <div class="panel-block has-background-white display-block">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                    {% endfor %}
                {% endif %}

                <form method="post"
                      class="login-form"
                      id="login-form"
                      action="{% url 'registration:auth' %}">
                    {% csrf_token %}

                    <div class="field">
                        <div class="control">
                            {% render_field form.email class="input input-sim" placeholder="Email" %}
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            {% render_field form.password class="input input-sim" placeholder="Password" %}
                        </div>
                    </div>

                    <button
                            type="submit"
                            class="button has-background-info has-text-white is-uppercase has-text-weight-bold letter-spacing-3"
                    >Login</button>

                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}
