<!DOCTYPE html>{% load static %}
<html lang="en" class="{% block pageclass %}{% endblock %}"{% block ng_app %}{% endblock %}>
<head>
    <meta charset="UTF-8">
    <title>Simplitoo - {% block title %}Home page{% endblock %}</title>
    <link rel="stylesheet" href="{% static "registration/css/bulma.min.css" %}">
    <link rel="stylesheet" href="{% static "registration/css/styles.css" %}">
    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
{% block javascript %}{% endblock %}
</html>