{% extends "registration/base.html" %}
{% load static %}

{% block pageclass %}landing-page{% endblock %}

{% block title %}Landing page{% endblock %}

{% block body %}
<div class="container landing-page">
    <div class="header">
        <div class="is-pulled-left simplitoo-logo">
            <img src="{% static "registration/img/simplitoo_logo_blue.png" %}" alt="Simplitoo">
        </div>
        <div class="is-pulled-right login-url letter-spacing-3">
            <div><a href="{% url 'registration:auth' %}">Login</a></div>
        </div>
    </div>

    <div class="main">
        <div class="centered centered-landing has-text-light has-text-centered">
            <h1 class="is-size-1 has-text-weight-bold">Create your SARL!</h1>
            <p>Belay, wet plunder. go to isla de sangria. Hercle, equiso fortis!, domesticus coordinatae! The galactic klingon tightly manifests the sun. Bloody tofu can be made iced by decorating with plain vinegar. Not zion or nirvana, follow the solitude.</p>
            <a
                    class="button has-background-info has-text-white is-uppercase has-text-weight-bold"
                    href="{% url "registration:register" %}"
            >Create my company</a>
        </div>
    </div>
</div>



{% endblock %}
