{% extends "registration/base.html" %}
{% load static %}

{% block ng_app %} ng-app="simplitoo"{% endblock %}

{% block pageclass %}registration-page{% endblock %}

{% block title %}Registration page{% endblock %}

{% block body %}
<div class="container registration-page" ng-controller="StartController as sc">
    <div class="header">
        <div class="columns">
            <div class="column simplitoo-logo-white">
                <img src="{% static "registration/img/simplitoo_logo.png" %}" alt="Simplitoo">
            </div>
            <div class="column register-email has-text-right">
                <user-email
                        email="sc.user.email"
                        send-data="sc.sendData()"
                        ng-if="sc.page !== 'congrats'"
                ></user-email>
            </div>
        </div>
    </div>

    <div class="main">
        <panel-dashboard fill-status="sc.fillStatus()" page="sc.page" ng-if="sc.page === 'dashboard'"></panel-dashboard>
        <panel-info page="sc.page" user="sc.user" send-data="sc.sendData()" ng-if="sc.page === 'info'"></panel-info>
        <panel-activity page="sc.page" user="sc.user" send-data="sc.sendData()" ng-if="sc.page === 'activity'"></panel-activity>
        <panel-director page="sc.page" user="sc.user" send-data="sc.sendData()" ng-if="sc.page === 'director'"></panel-director>
        <panel-congrats user="sc.user" send-data="sc.sendData()" ng-if="sc.page === 'congrats'"></panel-congrats>
    </div>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static "registration/js/ng/angular.js" %}"></script>
<script src="{% static "registration/js/app/app.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/user-email.component.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/panel-dashboard.component.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/panel-activity.component.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/panel-congrats.component.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/panel-director.component.js" %}?v={{ random_string }}"></script>
<script src="{% static "registration/js/app/components/panel-info.component.js" %}?v={{ random_string }}"></script>
{% endblock %}
