.landing-page .header {
  height: 80px;
  padding: 20px 30px;
  background-color: white;
}

.registration-page .header {
  padding: 35px 45px 0;
  height: 100px;
}

.simplitoo-logo img {
  height: 45px;
}

.simplitoo-logo-white img {
  height: 60px;
}

.login-url {
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.login-url a {
  color: #333;
}

.container {
  max-width: 2500px;
  width: auto;
}

html {
  background-size: cover;
}

html.landing-page {
  background: url(../img/sarl_hero.jpg) no-repeat center center fixed;
}

html.auth-page {
  background: url(../img/sign_in_bg.jpg) no-repeat center center fixed;
}

html.registration-page {
  background: #F6FBFD url(../img/bg_blue.png) repeat-x;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-landing {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 60px 100px 50px;
  width: 960px;
}

.centered-auth {
  width: 538px;
}

.panel {
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 30px -10px rgba(0,0,0,0.75);
}

.panel-heading {
  border-radius: 8px 8px 0 0;
  background-color: #F6FBFD;
}

.centered-auth .panel-heading {
  padding: 20px 0;
}

.centered p {
  margin: 25px 0 60px;
}

.button {
  border-width: 0;
  padding: 13px 50px;
  line-height: 18px;
  height: 2.8em;
  box-shadow: 0 0 12px -5px rgba(0,0,0,0.8);
}

.panel-block.display-block {
  display: block;
}

.centered-auth .panel-block {
  padding: 30px 40px;
}

.panel-block:last-of-type {
  border-radius: 0 0 8px 8px;
}

.field .control input, .field .control textarea {
  margin-bottom: 20px;
}

.input-sim {
  padding: 22px;
}

.login-form button {
  padding: 13px 160px;
}

.columns-container {
  width: 100%;
}

.registration-page .main {
  margin: 130px auto;
  width: 960px;
}

.registration-page .panel {
  margin: 0 0 40px;
}

.registration-page .panel-heading {
  height: 100px;
  padding: 30px 70px 0;
  color: #0099CA;
}

.registration-page .panel-block {
  background-color: white;
  padding: 20px 30px;
  color: #aaa;
}

.registration-page .panel-block p {
  margin: 0 20px;
}

.inputs {
  margin: 0 30px;
  padding-bottom: 10px;
}

.back-link {
  font-weight: bold;
  color: #0f81cc;
  text-transform: uppercase;
  font-size: x-small;
}

.dashboard .panel-block {
  padding: 40px 70px 60px;
}

.scard {
  border: #dedede 3px solid;
  border-radius: 8px;
  box-shadow: none;
  padding: 30px 10px;
  opacity: 0.4;
}

.scard-picture {
  padding: 20px;
  color: #0099CA;
}

.scard-status {
  color: #999;
  font-weight: bold;
  font-size: smaller;
}

.scard-title {
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  font-size: medium;
  letter-spacing: 2px;
  margin: 15px 0;
}

.scard-content {
  color: #0099CA;
  font-size: x-small;
  font-weight: bold;
}

.scard-active {
  opacity: 1;
  cursor: pointer;
}

.panel.congrats p {
  margin: 20px 0;
}

.panel.congrats .is-fullwidth {
  width: 100%;
}
