        <div class="panel">
            <div class="panel-heading has-text-weight-bold is-size-3">Congratulations</div>
            <div class="panel-block has-text-centered has-text-black">
                <div class="is-fullwidth" style="width: 100%">
                    <h2 class="is-size-3 has-text-weight-bold" style="margin: 20px 0">Congratulations!</h2>
                    <p class="is-size-5" style="margin: 20px 0">Your company created!</p>
                    <form name="registerForm" ng-submit="$ctrl.sendRegister()" ng-if="$ctrl.user.email === ''">
                        <p style="margin: 20px 0">
                            <input required
                                   class="input input-sim"
                                   type="email"
                                   placeholder="Email"
                                   style="width: 300px"
                                   ng-model="$ctrl.new_email">
                        </p>
                        <p style="margin: 20px 0"><button
                                    class="button is-uppercase has-text-weight-bold has-background-info has-text-white"
                                    type="submit"
                            >Save</button></p>
                    </form>
                </div>
            </div>
        </div>