        <div class="panel dashboard">
            <div class="panel-heading has-text-weight-bold is-size-3 letter-spacing-2">Create SARL</div>
            <div class="panel-block has-text-centered">
                <div class="columns-container">
                    <div class="columns">

                        <div class="column is-one-third">
                            <div
                                    class="card scard"
                                    ng-class="{'scard-active': $ctrl.fillStatus() == 1}"
                                    ng-click="$ctrl.changePage(1)"
                            >
                                <div class="scard-picture">
                                    <i class="fas fa-3x fa-map-marker-alt" aria-hidden="true"></i>
                                </div>
                                <div class="scard-status">Incomplete</div>
                                <div class="scard-title">Company Info</div>
                                <div class="scard-content">
                                    Give your company a name!<br>
                                    Where will your company be?
                                </div>
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <div
                                    class="card scard"
                                    ng-class="{'scard-active': $ctrl.fillStatus() == 2}"
                                    ng-click="$ctrl.changePage(2)"
                            >
                                <div class="scard-picture">
                                    <i class="fas fa-3x fa-cog" aria-hidden="true"></i>
                                </div>
                                <div class="scard-status">Incomplete</div>
                                <div class="scard-title">Company Activity</div>
                                <div class="scard-content">
                                    What would you like your<br>
                                    company to do?
                                </div>
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <div
                                    class="card scard"
                                    ng-class="{'scard-active': $ctrl.fillStatus() == 3}"
                                    ng-click="$ctrl.changePage(3)"
                            >
                                <div class="scard-picture">
                                    <i class="fas fa-3x fa-chart-pie" aria-hidden="true"></i>
                                </div>
                                <div class="scard-status">Incomplete</div>
                                <div class="scard-title">Company Directors</div>
                                <div class="scard-content">
                                    Qui est associe dans votre<br>
                                    entreprise?
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>