    <form name="activityForm" ng-submit="$ctrl.validateForm()">
        <div class="panel">
            <div class="panel-heading has-text-weight-bold is-size-3">Company Activity</div>
            <div class="panel-block">
                <span class="icon">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                </span>
                <p class="is-uppercase letter-spacing-3 has-text-weight-bold">Company Activity</p>
            </div>
            <div class="panel-block">
                <div class="inputs columns columns-container">
                    <div class="column">
                        <textarea type="text"
                                  class="textarea"
                                  placeholder="Company activity description"
                                  required
                                  rows="3"
                                  ng-model="$ctrl.user.activity"></textarea>
                    </div>
                </div>
            </div>

        </div>
        <div class="controls">
            <div class="is-pulled-left">
                <a href="#" class="back-link letter-spacing-2" ng-click="$ctrl.page='dashboard'">&lt; &nbsp; Back</a>
            </div>
            <div class="is-pulled-right">
                <button
                        type="submit"
                        class="button has-background-info has-text-white is-uppercase has-text-weight-bold letter-spacing-3"
                >
                    Validate
                </button>
            </div>
        </div>
    </form>