    <form name="directorForm" ng-submit="$ctrl.validateForm()">
        <div class="panel">
            <div class="panel-heading has-text-weight-bold is-size-3">Company Director</div>
            <div class="panel-block">
                <span class="icon">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                </span>
                <p class="is-uppercase letter-spacing-3 has-text-weight-bold">Director</p>
            </div>
            <div class="panel-block">
                <div class="inputs columns columns-container">
                    <div class="column">
                        <input type="text"
                               class="input input-sim"
                               placeholder="First name"
                               required
                               ng-model="$ctrl.user.director_first_name">
                    </div>
                    <div class="column">
                        <input type="text"
                               class="input input-sim"
                               placeholder="Last name"
                               required
                               ng-model="$ctrl.user.director_last_name">
                    </div>

                </div>
            </div>
        </div>
        <div class="controls">
            <div class="is-pulled-left">
                <a href="#" class="back-link letter-spacing-2" ng-click="$ctrl.page='dashboard'">&lt; &nbsp; Back</a>
            </div>
            <div class="is-pulled-right">
                <button
                        type="submit"
                        class="button has-background-info has-text-white is-uppercase has-text-weight-bold letter-spacing-3"
                >
                    Validate
                </button>
            </div>
        </div>
    </form>