                <div class="register-email-holder has-text-light" ng-if="$ctrl.email !== ''">{{ $ctrl.email }}</div>
                <div class="column register-email has-text-right" ng-if="$ctrl.email === ''">
                    <form name="registerForm" ng-submit="$ctrl.sendRegister()">
                    <div class="columns">

                        <div class="column">
                            <input required class="input input-sim" type="email" placeholder="Email" ng-model="$ctrl.new_email">
                        </div>
                        <div class="column is-one-third">
                            <button
                                    class="button is-uppercase has-text-weight-bold has-background-info has-text-white"
                                    type="submit"
                            >Register</button>
                        </div>

                    </div></form>
                </div>